.card {
  &_title {
    font-family: $robotoSlab;
    font-size: 1.25rem;
    line-height: 24px;
  }
  &_text {
    opacity: .6;
  }
  &_more {
    color: get-color(red);
    text-decoration: underline;
  }
}

.card-new {
  padding: 20px 0;
  border-bottom: 1px solid get-color(lightgray);
  @include mq($from: desktop) {
    border-bottom: 0;
    padding: 0 0 20px;
  }
  &_title {
    font-family: $robotoSlab;
    font-weight: normal;
    font-size: 1.37500rem;
    line-height: 24px;
  }
  &_text {
    color: rgba(get-color(dark), .6);
  }
  &_more {
    color: get-color(red);
    text-decoration: underline;
  }
}

.card-small {
  background: rgba(get-color(bluedark), .05);
  border-bottom: 1px solid get-color(lightgray);
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  @include mq($from: desktop) {
    border-bottom: 0;
  }
  &_body {
    padding-left: 60px;
  }
  &_title {
    color: get-color(dark);
    font-family: $roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  &_text {
    color: rgba(get-color(dark), .6);
    font-size: 0.857rem;
    font-family: $roboto;
  }
  &_link {
    color: get-color(dark);
    .ic-arrow-right {
      font-size: 0.75rem;
    }
  }
  &_more {
    color: get-color(red);
    text-decoration: underline;
  }
}

.a11y-font-1,
.a11y-font-2 {
  .card-data {
    height: 8rem;
    padding: 10px;

    &_title {
      padding: 0 10px;
    }

    &_number {
      text-align: center;
      display: table-row;
    }

    &_title-text {
      text-align: center;
      display: table-row;
    }
  }
}

.card-data {
  background-color: get-color(white);
  border: 2px solid get-color(light);
  padding: 20px;
  position: relative;
  margin: 15px 0;
  display: block;
  @include mq($from: tablet) {
    height: 6.25rem;
    margin: 15px 0 50px;
  }
  @include mq($from: desktop) {
    margin: 0;
  }
  &:hover {
    background-color: get-color(light);
  }
  &_title {
    color: rgba(get-color(dark), .6);
    font-size: 1.3125rem;
    margin: 0;
    @include center(v);
    display: table;
    table-layout: fixed;
    width: 100%;
    left: 0;
    padding: 0 20px;
  }
  &_text {
    color: rgba(get-color(dark), .6);
    font-size: 0.857rem;
    font-family: $roboto;

  }
  &_title-text {
    font-family: $roboto;
    font-size: 1.3125rem;
    font-weight: 400;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;

  }
  &_number {
    color: rgba(get-color(dark), 1);
    font-family: $robotoSlab;
    font-size: 2rem;
    font-weight: 400;
    line-height: 24px;
    display: block;
    // margin: 0 10px 9px;
    vertical-align: middle;
    // float: left;
    display: table-cell;
    vertical-align: middle;
    width: 70px;
  }
}

.featured-card {
  border: 2px solid get-color(lightgray);
  cursor: pointer;
  position: relative;
  display: block;
  margin: 25px 0 0;
  text-decoration: none;
  @include mq($from: tablet) {
    height: 22.62500rem;
    margin: 25px 0;
  }
  @include mq($from: desktop) {
    height: 27.12500rem;
    margin: 0 0 25px 0;
  }
  @include mq($from: wide) {
    height: 18.25rem;
  }
  &:hover {
    background-color: get-color(light);
    text-decoration: none;
  }
  &.has-icon {
    &:after {
      @include getIcon("\65");
      // content: "";
      // background-image: url($iconsPath + "featured.svg");
      // background-size: contain;
      // background-position: center center;
      // background-repeat: no-repeat;
      color: get-color(gray);
      font-size: 15px;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0 10px 8px 0;
    }
  }
  &_figure {
    overflow: hidden;
    margin: 0 0 8px;
    width: 100%;
    display: none;
    @include mq($from: tablet) {
      display: block;
      height: 120px;
    }
  }
  &_body {
    background-color: transparent;
    padding: 18px;
    @include mq($from: desktop) {
      > p {
        height: 4.12500rem;
        overflow: hidden;
      }
    }
  }
  &_title {
    color: get-color(dark);
    font-family: $robotoSlab;
    font-size: 1.4375rem;
    font-weight: 400;
    line-height: 1.62500rem;
    margin: 0 0 15px;

    @include mq($from: desktop) {
      overflow: hidden;
      height: 3.25rem;
    }
  }
  &_date {
    color: rgba(get-color(dark), .6);
    display: block;
    font-family: $roboto;
    font-size: 0.6875rem;
    font-weight: 400;
    margin: 0 0 10px;
    &:before {
      content: "";
      background-image: url($iconsPath + "clock.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 7px;
      width: 7px;
      vertical-align: middle;
      margin-right: 3px;
    }
  }
  &_link {
    display: inline-block;
    padding: 0;
    position: relative;
    &:after {
      content: "";
      background-image: url($iconsPath + "featured-red.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 10px;
      width: 15px;
      vertical-align: middle;
      margin-left: 3px;
      position: absolute;
      left: 100%;
      top: 12px;
    }
  }
}

// Chileatiende
.card-kind {
  margin: 0 0 30px;
  // height: 345px;
  &_header {
    background-color: get-color(lightgray);
    overflow: hidden;
    padding: 0 15px;
    height: 90px;
  }
  &_title {
    margin-top: 21px;
  }
  &_body {
    background-color: get-color(light);
    height: 280px;
    overflow-y: scroll;
  }
}

.card-info {
  background: rgba(get-color(bluedark), .05);

  // color: get-color(white);
  color: get-color(dark);
  margin: 15px 0;
  padding: 25px 15px;

  @include mq($from: tablet) {
    padding: 25px 29px;
    // margin: 0 0 10px;
  }
  @include mq($from: desktop) {
    margin: 0 0 10px;
  }
  &_number {
    display: block;
    font-family: $robotoSlab;
    font-size: 2rem;
    margin: 0 0 9px;
  }
  &_title {
    color: rgba(get-color(dark), .6);
    display: block;
    font-family: $roboto;
    font-size: 1.3125rem;
    margin: 0 0 30px;
  }
  &_list {
    li {
      padding-left: 15px;
      position: relative;
      &:before {
        content: "";
        // background-color: #fff;
        background-color: get-color(dark);
        border-radius: 50%;
        display: block;
        height: 7px;
        width: 7px;
        position: absolute;
        // right: 100%;
        left: 0;
        top: 0;
        margin-top: 7px;
        margin-right: 10px;
      }
      p {
        // color: get-color(white);
        // color: get-color(dark);
        color: rgba(get-color(dark), .6);
      }
    }
  }
}

.card-data-small {
  padding: 20px 0;

  @include mq($from: desktop) {
    padding: 25px 0;
  }

  &_title {
    span {
      font-family: $robotoSlab;
      font-weight: 400;
      line-height: 38px;
      display: inline-block;
      margin: 0 9px 9px;

      @include mq($from: tablet) {
        display: block;
        margin: 0 0 9px;
      }
    }
    small {
      display: inline-block;
      font-family: $robotoSlab;
      font-size: 1.3125rem;
      font-weight: 400;
      line-height: 1.5rem;

      @include mq($from: tablet) {
        display: block;
      }
    }
  }
  &_text {
    display: none;
    @include mq($from: tablet) {
      display: block;
    }
    color: rgba(17, 17, 17, 0.6);
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
  }
}

.a11y-contrast {
  .card-data {
    background-color: get-contrast-color(white);
    border: 2px solid get-contrast-color(light);
    &:hover {
      background-color: get-contrast-color(light);
    }
    &_title {
      color: rgba(get-contrast-color(dark), .8);
    }
    &_text {
      color: rgba(get-contrast-color(dark), .8);
    }
    &_number {
      color: rgba(get-contrast-color(dark), 1);
    }

    &:hover {
      background-color: get-contrast-color(white);
      border-color: get-contrast-color(red);
    }
  }

  .featured-card {
    border: 2px solid get-contrast-color(lightgray);
    &:hover {
      background-color: get-contrast-color(white);
      border-color: get-contrast-color(red);
    }
    &.has-icon {
      &:after {
        color: get-contrast-color(gray);
      }
    }
    &_title {
      color: get-contrast-color(dark);
    }
    &_date {
      color: rgba(get-contrast-color(dark), .6);
    }
  }

  .card-small {
    background-color: get-color(white);

    &_link {
      color: get-contrast-color(white);
    }

    &_text {
      color: rgba(get-contrast-color(white), .6)
    }

    &_body {
      p {
        color: rgba(get-contrast-color(white), .8);
      }
    }
  }

  .bg-lightgray {
    .card-data-small {
      &_title {
        color: rgba(get-contrast-color(black), .8);
      }
      &_text {
        color: rgba(get-contrast-color(black), .8);
      }
      a {
        color: get-contrast-color(red);
      }
    }
  }
  .card-data-small {
    &_text {
      color: rgba(get-contrast-color(white), .8);
    }

    a {
      color: get-contrast-color(white);
    }
  }

  .card-new {
    &_title {
      color: get-contrast-color(dark);
    }
  }

  .card-info {
    background: get-contrast-color(bluedark);

    color: get-contrast-color(white);
  }
}