/* =Colors
----------------------------------------------- */

// Color Map
$colors:
(
	red : #FE6565,
	darkred : #BB0000,
	green : #2FAE7D,
	blue : #0021FF,
	lightblue : #85B1F5,
	yellow : #F2C728,
	dark : #111111,
	bluedark : #0A132D,
	white: #FFFFFF,
	light : #F5F6F7,
	gray: #A8B7C7,
	lightgray : #E3E5EF
);

// get a color from the color map
@function get-color($color) {
	@if map-has-key($colors, $color) {
		$color: map-get($colors, $color);
	} @else {
		@if type-of($color) != color {
			@error "Color name: `#{$color}` not found."
		}
	}

	@return $color;
}