body {
  .contingency {
    overflow: hidden;
    display: none;

    > * {
      display: none;
    }

    .contingency-continue,
    .contingency-navigate {
      min-height: $contingency-actions-height;
      height: auto;
    }
  }

  &.contingency-active {
    .contingency {
      display: block;

      .contingency-continue {
        display: block;
      }
    }

    .contingency > * {
      display: block;
    }

    main.site-main {
      display: none;
    }
  }

  &.status-continue {
    .contingency {
      .contingency-continue {
        display: none;
      }
    }
  }

  &.status-navigate {
    .contingency {
      > *:not(.contingency-continue) {
        display: none;
      }
    }
    main.site-main {
      display: block;
    }
  }

  main.site-main,
  section.contingency {
    margin-top: map-get($navbar-height, xs);

    @include mq($from: tablet) {
      margin-top: map-get($navbar-height, md);
    }

  }

  &.contingency-active {
    section.contingency + main.site-main {
      margin-top: 0;
    }
  }

  &.search-active {
    .contingency {
      display: none;
    }
  }

}

.a11y-contrast {
  .contingency {
    &-navigate,
    &-continue {
      color: get-contrast-color(white);
      background-color: get-contrast-color(red);

      &:hover {
        background-color: rgba(get-contrast-color(red), .9);
      }
    }

    background-color: get-contrast-color(white);

    .heading-large {
      color: get-contrast-color(black);
    }
  }
}