.heading{
	&-large{
		// color: get-color(dark);
		color: rgba(get-color(dark), .8);		
		font-family: $robotoSlab;
		font-size: 2rem;
		// font-size: ms(2);
		font-weight: 400;
		// line-height: 24px;
		line-height: 2.37500rem;
		
		// padding: 21px 0;
		// margin: 0;
		margin: 21px 0;
		&--light{
			color: rgba(get-color(white), .8);
		}
		@include mq($from: tablet ) {
			font-size: 2rem;
			line-height: 2.37500rem;
			// font-size: 2rem;
			margin: 0 0 21px 0;
		}
	}
	&-medium{
		color: get-color(dark);
		font-family: $robotoSlab;
		font-size: 1.37500rem;
		// font-size: 1.4375rem;
		font-weight: 400;
		line-height: 1.5rem;
		// padding: 21px 0;
		// margin: 0;
		margin: 0 0 21px 0;
		&--light{
			color: get-color(white);
		}
		.heading-sub{
			font-size: 1rem;
		}
	}
	&-sub{
		color: rgba(get-color(dark), .6);
		font-family: $roboto;
		font-size: 1.25rem;
		// font-size: 1.3125rem;
		font-weight: 400;
		line-height: 1.5rem;
		// padding: 21px 0;
		// margin: 0;
		margin: 21px 0;
		&--light{
			color: rgba(get-color(white), .6);
		}
		@include mq($from: tablet ) {
			margin: 0 0 21px 0;
		}
	}
	&-label{
		color: rgba(get-color(dark), .4);
		font-family: $roboto;
		font-weight: 400;
		font-size: 0.6875rem;
		display: block;
		// font-size: 0.6875rem;
		letter-spacing: 1.5px;
		line-height: 0.8125rem;
		// padding: 18px 0;
		// margin: 0;
		margin: 18px 0;		
		text-transform: uppercase;
		@include mq($from: tablet ) {
			margin: 0 0 18px;
		}
		&--wrapped{
			padding: 18px 0;
			margin: 0;			
		}
		&--light{
			color: rgba(get-color(white), .4);
		}
		&--small{
			margin: 0 0 12px;
		}
	}
	&-link{
		color: get-color(dark);
		font-family: $roboto;		
		font-size: 1rem;
		// font-size: 16px;
		line-height: 1.5rem;
		// padding: 21px 0;
		// margin: 0;
		margin: 21px 0;
		// text-decoration: underline;
		&--light{
			color: get-color(white);
		}
		a{
			color: inherit;
			padding-right: 25px;
			position: relative;
			text-decoration: underline;
			&:after{
				background: url($iconsPath + 'arrow-right-black.svg');
				content: "";
				display: inline-block;
				height: 7px;
				width: 13px;
				margin-left: 5px;
				// @include mq($from: tablet ) {
				// 	display: none;
				// }
				@include mq($from: tablet ) {
					display: none;
				}
			}
		}
	}
}
.date{
	color: rgba(get-color(dark),.4);		
	font-family: $roboto;
	display: block;
	font-weight: 300;
	font-size: 0.6875rem;
	line-height: 1.5rem;
	margin: 0 0 10px;
}
.type{
	color: get-color(green);
	font-family: $roboto;
	display: inline;
	font-weight: 600;
	// font-size: ms(-1);
	font-size: 0.875rem;
	line-height: 1rem;
	border-bottom: 1px solid get-color(green);
	border-top: 1px solid get-color(green);
	// margin: 0 0 10px;
}
.disable{
	color: #BDBDBD;
}
.error{
	color: rgba(get-color(red),.6);
}
.text-light{
	.heading{
		&-large{
			color: rgba(get-color(white), .8);
		}
		&-medium{
			color: get-color(white);
		}
		&-sub{
			color: rgba(get-color(white), .6);
		}
		&-label{
			color: rgba(get-color(white), .4);
		}
		&-link{
			color: get-color(white);
			a{
				&:after{
					background: url($iconsPath + 'arrow-right-white.svg');
				}
			}
		}
	}
	p{
		color: rgba(get-color(white), .8);
	}
	.card-data{
		&_title,
		&_text{
			color: get-color(white);		
		}
	}
	.type{
		color: get-color(white);
		border-color: get-color(white);
	}
}

.section {
  &-header {
    .heading-large {
      margin-top: 0;

      @include mq($from: tablet) {
        margin: 21px 0;
      }
    }
  }
}