/*
	HEADER
*/

.a11y-font-1,
.a11y-font-2 {

  .site-header {
    &_right {
      @include mq($from: tablet) {
        display: none;
      }

      @include mq($from: wide) {
        display: block;
      }
    }

    .menu-trigger {
      @include mq($from: tablet) {
        display: block;
        padding: 15px 10px;
      }

      @include mq($from: wide) {
        display: none;
      }
    }

    .menu-mobile {

      @include mq($from: tablet) {
        display: block;

        .link {
          padding: 21px 15px;
        }
      }

      @include mq($from: wide) {
        display: none;
      }
    }

    .btn-search {
      &--mobile {
        @include mq($from: tablet) {
          display: block;
          width: 54px;
          height: 71px;
          margin-top: 0;
        }

        @include mq($from: wide) {
          display: none;
        }
      }
    }
  }
}

.site-header{
	background-color: get-color(white);
	position: relative;
	height: 64px;
	z-index: 112;
	@include mq($from: tablet ) {
		height: 71px;
	}
	&_container{
		padding: 0 15px;
		@include clearfix();
	}

  .menu-mobile {
    display: inline-block;
    float: right;
    @include mq($from: tablet) {
      display: none;
    }

    .language-selector {

      > a {
        text-transform: uppercase;
      }
    }

    .link {
      padding-right: 15px;
      &:after {
        content: ' ';

      }
    }
  }

	.logo{
		display: inline-block;
		text-decoration: none;
		.icon-gob{
			display: block;
		}
		&_text{
			color: rgba(get-color(dark),.6);
			display: block;
			font-family: $roboto;
			font-size: 1rem;
			line-height: 24px;
			margin: 10px 0 0;
		}
	}
	&_fixed{
		background-color: get-color(white);
		border-bottom: 2px solid get-color(lightgray);
		height: 64px;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 112;
		transition: background-color .3s;
		@include mq($from: tablet) {
			height: 71px;
		}
	}
	&_right{
		float: right;
		margin-top: 1px;
    display: none;
		@include clearfix();

    @include mq($from: tablet) {
      display: block;
    }
	}
	.menu-trigger{
		float: right;
		padding: 12px 10px;
		margin: 0;
		@include mq($from: tablet ) {
			display: none;
		}
	}
	&_login{
		display: inline-block;
		vertical-align: middle;
		margin-left: 25px;
		@include mq($from: tablet ) {
			margin-left: 10px;
		}
		@include mq($from: desktop ) {
			margin-left: 25px;
		}
		&:before{
			background: get-color(lightgray);
			content: "";
			display: inline-block;
			margin-right: 4px;
			width: 2px;
			height: 26px;
			vertical-align: middle;
		}
	}
	.goto{
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		&_menu{
			position: relative;
			margin-top: 21px;
		}
		&_trigger{
			margin: 24px 15px 0 0;
		}
	}
}