.pres {
  height: 224px;
}

/** Forms **/

/* Inputs */
input[type=text] {
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}

input[type=password] {
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}

input[type=text]:focus {
  border-color: get-color(lightblue);
}

input[type=text]:read-only {
  background: get-color(lightgray);
}

input[type=text].error {
  border-color: get-color(red);
}

input[type=text].success {
  border-color: get-color(green);
}

input[type=text].warning {
  border-color: get-color(yellow);
}

/* Label */
label {
  margin-top: 30px;
  color: get-color(dark);
}

label.error {
  color: get-color(red);
}

label.success {
  color: get-color(green);
}

/* Alerts */
.alert {
  padding: 6px 12px;
  margin-top: 10px;
  display: block;
  font-size: 0.875rem;
}

.alert.on-input {
  border-radius: 0;
  padding: 6px 12px;
  margin-top: 0;
  display: block;
  font-size: 0.875rem;
}

.alert.error {
  background: get-color(darkred);
  color: get-color(white);
}

.alert.success {
  background: get-color(green);
  color: get-color(white);
}

.alert.warning {
  background: get-color(yellow);
  color: get-color(white);
}

/* Radio buttons */

.form-check-label {
  text-transform: none;
  font-size: 1rem;
  margin-top: 16px;
}

/* Links & buttons */
.button {
  // margin-bottom: 30px;
}

.link-v {
  margin-top: 22px;
  display: inline-block;
  margin-bottom: 30px;
}

/* Steps */

ul.steps {
  text-align: center;
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
  font-size: 0;
}

ul.steps li {
  border-bottom: 8px solid get-color(lightgray);
  display: inline-block;
  padding-bottom: 8px;
}

ul.steps li.active {
  border-bottom: 8px solid get-color(red);
}

ul.steps li a.next {
  color: get-color(lightgray);
}

ul.steps li a.last {
  color: #FFC1C1;
}

ul.steps li a {
  text-decoration: none;
  cursor: default;
}

.filterable {
  height: 4rem;
}

img {
  &.img-frame {
    border: 1px solid get-color(gray);
  }
}

.hero-background {
  @include mq($from: mobile) {
    background-image: url($imagesPath + 'hero-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.a11y-contrast {
  ul.steps li.active {
    border-bottom: 8px solid get-contrast-color(red);
  }

  .form-check-label {
    color: get-contrast-color(dark);
  }

  input[type=text]:read-only {
    background: get-contrast-color(lightgray);
  }
}

.a11y-contrast {
  .alert.error {
    background: get-contrast-color(darkred);
    color: get-contrast-color(white);
  }

  .alert.success {
    background: get-contrast-color(green);
    color: get-contrast-color(white);
  }

  .alert.warning {
    background: get-contrast-color(dark);
    color: get-contrast-color(white);
  }

  input[type=text].error {
    border-color: get-contrast-color(red);
  }

  input[type=text].success {
    border-color: get-contrast-color(green);
  }

  input[type=text]:focus {
    border-color: get-contrast-color(lightblue);
  }

  input[type=text].warning {
    border-color: get-contrast-color(yellow);
  }

  label {
    color: get-contrast-color(dark);
  }

  label.error {
    color: get-contrast-color(red);
  }

  label.success {
    color: get-contrast-color(green);
  }


  .hero-background {

    .text-light,
    .text-light p {
      color: get-contrast-color(white) !important;
      @include mq($from: mobile) {
        color: get-contrast-color(black) !important;
      }
    }
  }
}