.pres{
  height: 224px;
}

/** Forms **/

/* Inputs */
input[type=text]{
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}
input[type=password]{
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}
input[type=text]:focus{
  border-color: #B2BCFF;
}
input[type=text]:read-only{
  background: #F2F3F8;
}
input[type=text].error{
  border-color: #BB0000;
}
input[type=text].success{
  border-color: #2FAE7D;
}
input[type=text].warning{
  border-color: #F2C728;
}

/* Label */
label{
  margin-top: 30px;
}
label.error{
  color: #BB0000;
}
label.success{
  color: #2FAE7D;
}

/* Alerts */
.alert{
  padding: 6px 12px;
  margin-top: 10px;
  display: block;
  font-size: 0.875rem;
}
.alert.on-input{
  border-radius: 0;
  padding: 6px 12px;
  margin-top: 0;
  display: block;
  font-size: 0.875rem;
}
.alert.error{
  background: #BB0000;
  color: #fff; 
}
.alert.success{
  background: #2FAE7D;
  color: #fff; 
}
.alert.warning{
  background: #F2C728;
  color: #111; 
}

/* Radio buttons */

.form-check-label{
  text-transform: none;
  font-size: 1rem;
  margin-top: 16px;
}

/* Links & buttons */
.button{
  // margin-bottom: 30px;
}
.link-v{
  margin-top: 22px;
  display: inline-block;
  margin-bottom: 30px;
}

/* Steps */

ul.steps{
  text-align: center;
  margin-bottom: 30px;
}
ul.steps li{
  border-bottom: 8px solid #E3E5EF;
  display: inline-block;
  padding-bottom: 8px;
}
ul.steps li.active{
  border-bottom: 8px solid #FE6565;
}
ul.steps li a.next{
  color: #CFCFCF;
}
ul.steps li a.last{
  color: #FFC1C1;
}
ul.steps li a {
  text-decoration: none;
  cursor: default;
}

.filterable {
  height: 4rem;
}