body {
  nav.navbar {
    &.navbar-expand-md {
      > .container {
        padding: 0 15px;
      }
    }

    > .container {
      .navbar-brand {
        padding: 0;
      }

      .navbar-toggler {
        margin-top: $original-navbar-xs-padding-y;
        margin-bottom: $original-navbar-xs-padding-y;

        @media (min-width: map-get($grid-breakpoints, md)) {
          margin-top: $original-navbar-md-padding-y;
          margin-bottom: $original-navbar-md-padding-y;
        }
      }

      .navbar-collapse {
        @media (min-width: map-get($grid-breakpoints, md)) {
          margin-top: $original-navbar-md-padding-y;
          margin-bottom: $original-navbar-md-padding-y;
        }
      }
    }
  }

  main {
    margin-top: map-get($navbar-height, xs);

    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-top: map-get($navbar-height, md);
    }

  }
}