/* Menu Trigger Hamburger */
.navbar-toggler {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 40;
  transition: all .2s;
  outline: none;
  border: 0;
  margin: 0 0 0 10px;
  vertical-align: bottom;

  &:focus {
    outline: none;
  }

  &:after,
  &:before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    width: 2px;
    height: 20px;
    background-color: get-color(dark);
    border-radius: 5px;
    transform: rotate(45deg);
    transition: all .2s;
  }
  &:before {
    transform: rotate(-45deg);
  }

  &[aria-expanded="false"] {
    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 2px;
      margin-top: -2px;
      background-color: get-color(dark);
      border-radius: 5px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: -6px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: get-color(dark);
        border-radius: 5px;
        transition: all .2s;
      }
      &:before {
        top: 6px;
      }
    }
  }

  &[aria-expanded="true"] {
    span {
      display: none;
    }

    &:after,
    &:before {
      display: block;
    }

    &:active {
      transform: rotate(90deg) scale(.9);
    }
  }

  &:active {
    span {
      &:after {
        top: -10px;
      }
      &:before {
        top: 10px;
      }
    }
  }
}

.goto {
  text-align: right;
  position: relative;
  z-index: 10;

  &--search {
    margin-top: 20px;
    @include mq($from: desktop) {
      margin-top: 40px;
    }
  }
  &--top {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 120;
    // margin-top: 20px;
    margin-right: 15px;
    @include mq($from: desktop) {
      position: relative;
      z-index: 10;
      // margin-top: 40px
      margin-right: 0;
    }
  }
}

.a11y-contrast {
  .navbar-toggler {

    &:after,
    &:before {
      background-color: get-contrast-color(dark);
    }

    &[aria-expanded="false"] {
      span {
        background-color: get-contrast-color(dark);
        &:after,
        &:before {
          background-color: get-contrast-color(dark);
        }
      }
    }
  }
}