
.a11y-font-1 {
  body {
    nav.navbar {
      > .container {
        .navbar-collapse {
          .navbar-nav {
            .nav-item {
              height: $a11y-font-1-static-nav-link-height;
              @include mq($from: tablet) {
                margin-top: $a11y-font-1-navbar-item-md-margin-y;
                margin-bottom: $a11y-font-1-navbar-item-md-margin-y;
              }

              &-action {
                margin: 0;
              }
            }
          }
        }
      }

      .nav-content {
        .dropdown {
          &.lang {
            > a {
              padding: 0.12rem 0;
            }
          }

          .dropdown-menu {
            .dropdown-item {
              padding: 0;
            }
          }
        }
      }
    }
  }
}


.a11y-font-2 {
  body {
    nav.navbar {
      > .container {
        .navbar-collapse {
          .navbar-nav {
            .nav-item {
              height: $a11y-font-2-static-nav-link-height;
              @include mq($from: tablet) {
                margin-top: $a11y-font-2-navbar-item-md-margin-y;
                margin-bottom: $a11y-font-2-navbar-item-md-margin-y;
                font-size: .9rem;
              }

              &-action {
                margin: 0;
              }
            }
          }
        }
      }

      .nav-content {
        .dropdown {
          &.lang {
            > a {
              padding: 0;
            }
          }

          .dropdown-menu {
            .dropdown-item {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.a11y-font-0 {
  body {
    nav.navbar {
      &.navbar-expand-a11y {

        @include mq($from: tablet) {
          flex-flow: row nowrap;
          justify-content: flex-start;

          .navbar-nav {
            flex-direction: row;

            .dropdown-menu {
              position: absolute;
            }

            .dropdown-menu-right {
              right: 0;
              left: auto; // Reset the default from `.dropdown-menu`
            }

            .nav-link {
              padding-right: .5rem;
              padding-left: .5rem;
            }
          }

          // For nesting containers, have to redeclare for alignment purposes
          > .container,
          > .container-fluid {
            flex-wrap: nowrap;
          }

          .navbar-collapse {
            display: flex !important;  // stylelint-disable-line declaration-no-important

            // Changes flex-bases to auto because of an IE10 bug
            flex-basis: auto;
          }

          .navbar-toggler {
            display: none;
          }

          .dropup {
            .dropdown-menu {
              top: auto;
              bottom: 100%;
            }
          }
        }
      }
    }
  }
}

.a11y-font-1,
.a11y-font-2 {

  body {
    nav.navbar {

      > .container {
        .navbar-toggler {
          @include mq($from: tablet) {
            margin-top: $a11y-font-1-2-navbar-toggler-margin-y;
            margin-bottom: $a11y-font-1-2-navbar-toggler-margin-y;
          }
        }
      }

      .nav-content {
        .dropdown {
          @include mq($from: tablet) {
            display: inline-block;
          }

          @include mq($from: desktop) {
            display: none;
          }
        }
      }

      > .container {
        .navbar-collapse {
          .navbar-nav {
            .nav-item {
              &-desktop {
                display: none;
                @include mq($from: desktop) {
                  display: inline-block;
                }
              }

              &-access {
                margin-left: 0;
                padding-left: 0;
                border-left: none;
                @include mq($from: desktop) {
                  margin-left: 20px;
                  padding-left: 10px;
                  border-left: 2px solid get-color(lightgray);
                }
              }
            }
          }
        }
      }

      &.navbar-expand-a11y {

        @include mq($from: desktop) {
          flex-flow: row nowrap;
          justify-content: flex-start;

          .navbar-nav {
            flex-direction: row;

            .dropdown-menu {
              position: absolute;
            }

            .dropdown-menu-right {
              right: 0;
              left: auto; // Reset the default from `.dropdown-menu`
            }

            .nav-link {
              padding-right: .5rem;
              padding-left: .5rem;
            }
          }

          // For nesting containers, have to redeclare for alignment purposes
          > .container,
          > .container-fluid {
            flex-wrap: nowrap;
          }

          .navbar-collapse {
            display: flex !important; // stylelint-disable-line declaration-no-important

            // Changes flex-bases to auto because of an IE10 bug
            flex-basis: auto;
          }

          .navbar-toggler {
            display: none;
          }

          .dropup {
            .dropdown-menu {
              top: auto;
              bottom: 100%;
            }
          }
        }
      }
    }
  }
}



body {
  nav.navbar {

    .lang {
      > a {
        text-transform: uppercase;
        border: 1px solid get-color(gray);
        color: get-color(gray);

        box-shadow: none;

        &:focus {
          text-decoration: underline;
        }

        &:after {
          display: none;
        }
      }

      .dropdown-menu {
        min-width: 100%;
        border: 1px solid get-color(gray);

        .dropdown-item {
          padding-left: 0.375rem;
          padding-right: 0.375rem;
          text-align: center;
          color: get-color(gray);
        }
      }
    }

    box-shadow: 0 0 4px 1px $shadow;
    background-color: get-color(white);
    &.navbar-expand-md {
      > .container {
        padding: 0 15px;
      }
    }

    .nav-content {
      .dropdown {
        display: inline-block;
        box-shadow: none;

        > .btn {
          padding-left: 0.375rem;
          padding-right: 0.375rem;

          @include mq($from: mobile) {
            padding: 0.375rem;
          }
        }

        @include mq($from: tablet) {
          display: none;
        }

        &.lang {
          > a {
            width: 38px;
            height: 38px;
          }
        }
      }
    }

    > .container {
      .navbar-brand {
        padding: 0;
        font-size: 20px;
      }

      .navbar-toggler {
        margin-top: $navbar-toggler-margin-y;
        margin-bottom: $navbar-toggler-margin-y;
      }

      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            height: $static-nav-link-height;

            @include mq($from: tablet) {
              margin-top: $navbar-item-md-margin-y;
              margin-bottom: $navbar-item-md-margin-y;

              &-access {
                margin-left: 20px;
                padding-left: 10px;
                border-left: 2px solid get-color(lightgray);
              }
            }

            &-action {
              margin: 0;
            }

            &-desktop {
              display: none;

              @include mq($from: tablet) {
                display: inline-block;
              }
            }

            &.lang {
              margin-left: 0.375rem;
              .nav-link {
                color: get-color(gray);
              }
              .dropdown-menu {
                .dropdown-item {
                  background-color: get-color(white);
                }
              }
            }

            .nav-link {
              position: relative;
              white-space: normal;
              text-decoration: none;
              text-decoration: underline;
              &:after {
                // background: url($iconsPath + 'arrow-right-red.svg');
                @include getIcon("\69");
                font-size: 13px;
                display: block;
                margin-top: -6px;
                margin-right: 15px;
                position: absolute;
                right: 0;
                top: 50%;
                height: 7px;
                width: 13px;
                @include mq($from: tablet) {
                  display: none;
                }
              }

              &:focus,
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  main.site-main {
    margin-top: map-get($navbar-height, xs);

    @include mq($from: tablet) {
      margin-top: map-get($navbar-height, md);
    }

  }
}