body {
  nav.navbar {
    &.navbar-expand-md {
      > .container {
        padding: 0 15px;
      }
    }

    > .container {
      .navbar-brand {
        padding: 0;
      }

      .navbar-toggler {
        margin-top: $navbar-toggler-margin-y;
        margin-bottom: $navbar-toggler-margin-y;
      }

      .navbar-collapse {
        @media (min-width: map-get($grid-breakpoints, md)) {
          margin-top: $original-navbar-md-padding-y;
          margin-bottom: $original-navbar-md-padding-y;
        }

        .navbar-nav {
          .nav-item {
            height: $static-nav-link-height;

            .nav-link {
              padding-top: 8px;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
  }

  main {
    margin-top: map-get($navbar-height, xs);

    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-top: map-get($navbar-height, md);
    }

  }
}