.profile{
	// background-color: get-color(light);
	padding: 25px 15px;
	@include mq($from: tablet ) {
		padding: 40px 0;
	}
	&_header{
		margin: 0 0 18px;
	}
	&_body{
		overflow: hidden;
	}
	&--half{
		// padding-left: 134px;
		@include mq($from: tablet ) {
			padding-left: 194px;	
		}
		.profile_image{
			background-color: #D8D8D8;
			// margin-left: -134px;
			@include mq($from: tablet ) {
				margin-left: -194px;
			}
		}
		.profile_image--small{
			background-color: transparent;
			
		}
	}
	&--half-small{
		// padding-left: 134px;
		@include mq($from: tablet ) {
			padding-left: 98px;
		}
		.profile_image{
			background-color: #D8D8D8;
			// margin-left: -134px;
			@include mq($from: tablet ) {
				margin-left: -98px;
			}
		}
		.profile_image--small{
			background-color: transparent;
			
		}
	}
	&_title{
		color: rgba(get-color(dark),1);
		font-family: $robotoSlab;		
		font-size: 1.37500rem;
		font-weight: normal;
		line-height: 24px;
		margin: 0 0 16px;
	}
	&_job{
		color: rgba(get-color(dark),.4);
		display: block;
		font-size: 0.6875rem;
		text-transform: uppercase;
	}
	&_image{
		float: left;
		min-height: 110px;		
		width: 110px;
		margin-right: 10px;
		margin-bottom: 10px;
		// text-align: right;
		@include mq($from: tablet ) {
			min-height: 164px;
			width: 164px;
		}
		&--small{
			@include mq($from: tablet ) {
				min-height: 68px;
				width: 68px;
			}
			img{
				float: right;
				@include mq($from: tablet ) {
					max-width: 68px;	
				}
			}
		}
	}
	&_twitter{
		color: rgba(get-color(dark),1);
		text-decoration: underline;
	}
	&_info{
		margin: 0 0 15px;		
		li{
			margin: 0 0 5px;		
			span{
				color: rgba(get-color(dark),.8);
			}
		}
	}
	&_buttons{
		
		@include mq($from: desktop ) {
			padding: 50px 0;
		}
	}
	&--bluedark{
		background-color: get-color(bluedark);
		.profile{
			&_title{
				color: get-color(white);
			}
			&_job{
				color: rgba(get-color(white),.6);
			}
			&_twitter{
				color: rgba(get-color(white),1);				
			}
			&_info{
				li{
					span{
						color: get-color(white);
					}
				}
			}
		}
	}
}