.result {
  margin-bottom: 10px;
  &_link {
    display: block;
    margin: 0 0 8px;
  }
  &_excerpt {
    color: rgba(get-color(dark), .4);
    font-size: 0.857rem;
    margin: 0;
  }
  &_date {
    color: rgba(get-color(dark), .4);
    font-size: 0.6875rem;
  }
}

.results {
  padding-bottom: 10px;
  position: relative;
  &:after {
    // @include getIcon();
    background: url($iconsPath + "dots.svg") no-repeat center center;
    background-size: contain;
    content: "";
    width: 20px;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;

  }
}

.a11y-contrast {
  .result {
    &_date {
      color: rgba(get-contrast-color(dark), .6);
    }
  }
}