.social {
  overflow: hidden;
  position: relative;
  padding: 10px 0;
  &_link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &_icon {
    color: get-color(gray);
    display: block;
    float: left;
    font-size: 32px;
    line-height: 1;
    margin-right: 10px;
    // margin-top: 3px;
    @include mq($from: tablet) {
      margin-right: 8px;
    }
    @include mq($from: wide) {
      margin-right: 10px;
    }
  }
  &_name {
    color: rgba(get-color(dark), .8);
    display: block;
    font-family: $roboto;
    font-size: 1rem;
    // line-height: 24px;
  }
  &_url {
    color: rgba(get-color(dark), .6);
    display: block;
    font-family: $roboto;
    font-size: 0.857rem;
    // line-height: 21px;
    @include mq($from: tablet) {
      font-size: 0.75rem;
    }
    @include mq($from: wide) {
      font-size: 0.857rem;
    }
  }
}