@each $bpName, $bp in $grid-breakpoints {
  @if $bp != 0 {
    .table-#{$bpName}-row {
      @include mq($from: $bp) {
        display: table;
        table-layout: fixed;
        width: 100%;
      }
      > [class*="col-#{$bpName}-"] {
        @include mq($from: $bp) {
          display: table-cell;
          float: none;
        }
        &.top {
          @include mq($from: $bp) {
            vertical-align: top;
          }
        }
        &.bottom {
          @include mq($from: $bp) {
            vertical-align: bottom;
          }
        }
        &.middle {
          @include mq($from: $bp) {
            vertical-align: middle;
          }
        }
      }
    }
  }
}