.tabs-table{
	overflow-y: hidden;
	overflow-x: auto;
	
	.tabs{
		display: table;
		table-layout: fixed;
		// width: 100%;
		.tab{
			display: table-cell;
		}
	}
}
.tabs-links{
	@include mq($until: tablet ) {
		overflow-y: visible;
		overflow-x: visible;	
	}
	.tabs{
		@include mq($until: tablet ) {
			display: block;
		}
		.tab{
			@include mq($until: tablet ) {
				display: block;
				padding-right: 0;
			}
		}
	}
}


.tabs{
	position: relative;
	
	// height: 77px;
	
	background-color: transparent;
	// margin: 0 auto;
	white-space: nowrap;
	
	.tab{
		// background-color: white;
		display: inline-block;
		
		text-align: center;
		// line-height: 77px;
		// height: 77px;
		padding: 0;
		padding-right: 10px;
		margin: 0;
		a.tab-link{
			// background-color: get-color("bluesky");
			// border: 2px solid get-color("bluesky");
			border-bottom: 0;
			// color: get-color("graydark");
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 20px;
			font-size: 1.12500rem;
			font-weight: 700;
			// line-height: ms(4);
			margin-right: 10px;
			text-overflow: ellipsis;
			overflow: hidden;
			transition: color .28s ease;
			position: relative;
			z-index: 4;
			transition: background-color .5s;
			@include mq($from: tablet ) {
				padding: 0 24px;
			}
			&.active{
				background-color: white;
				// color: get-color(blue);
				// border-color: get-color(blue);
				z-index: 6;
			}
		}
		.button{
			min-width: 165px;
			margin: 0;
			.icon-active{
				display: none;
			}
		}
		&:last-child{
			padding-right: 0px;
		}
		&.active{
			.button{
				background-color: get-color(red);
				color: white;
				.icon-active{
					display: inline-block;
				}	
				.icon-inactive{
					display: none;
				}	
			}
			.link{
				color: get-color(dark);
			}
		}
	}
	&-content{
		// border: 2px solid get-color(blue);
		background-color: white;
		// color: get-color("graydark");
		padding: 30px 0;
		margin-top: -2px;
		position: relative;
		z-index: 5;
	}
	&-body{
		padding: 30px 0;		
	}
}
.tab-content{
	display: none;
	opacity: 0;
	transition: opacity .5s;
	&.active{
		display: block;
		opacity: 1;
	}
}