block scripts
	script(src="node_modules/jquery/dist/jquery.min.js")
	script(src="node_modules/jquery.easing/jquery.easing.js")
	script(src="node_modules/slick-carousel/slick/slick.js")
	script(src="js/gob.cl.js")
	block scriptsBody

