.section-social
	.row
		.table-md-row
			.col-xs-12.col-sm-12.col-md-3.col-lg-4.middle
				p.section-social_label Síguenos a través de redes sociales:
			.col-xs-12.col-sm-12.col-md-9.col-lg-8.middle
				.row
					.table-md-row
						.col-xs-12.col-sm-3.col-md-3.middle
							.social
								a(href="#").social_link
								span.social_icon
									i.ic-facebook
								span.social_name Facebook
								span.social_url /gobiernodechile
						.col-xs-12.col-sm-3.col-md-3.middle
							.social
								a(href="#").social_link
								span.social_icon
									i.ic-twitter
								span.social_name Twitter
								span.social_url @Gobiernodechile
						.col-xs-12.col-sm-3.col-md-3.middle
							.social
								a(href="#").social_link
								span.social_icon
									i.ic-instagram
								span.social_name Instagram
								span.social_url /gobiernodechile
						.col-xs-12.col-sm-3.col-md-3.middle
							.social
								a(href="#").social_link
								span.social_icon
									i.ic-youtube
								span.social_name Youtube
								span.social_url Lamoneda