/*
	HEADER
*/
.site-header{
	background-color: get-color(white);
	position: relative;
	height: 64px;
	z-index: 110;
	&_container{
		padding: 0 15px;
		@include clearfix();
	}
	.logo{
		display: inline-block;
		text-decoration: none;
		.icon-gob{
			display: block;
		}
		&_text{
			color: rgba(get-color(dark),.6);
			display: block;
			font-family: $roboto;
			font-size: ms(0);
			line-height: 24px;
			margin: 10px 0 0;
		}
	}
	&_fixed{
		background-color: get-color(white);
		border-bottom: 2px solid #E3E5EF;
		height: 64px;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 100;
		transition: background-color .3s;
	}
	&_right{
		float: right;
		margin-top: 1px;
		@include clearfix();
	}
	.toggle-search{
		appearance: none;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		float: right;
		padding: 9px 10px;
		margin: 10px 20px 0;
	}
	.menu-trigger{
		float: right;
		padding: 12px 10px;
		margin: 0;
	}
	.goto{
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		&_menu{
			position: relative;
			margin-top: 21px;
		}
		&_trigger{
			margin: 24px 15px 0 0;
		}
	}
}