/* =Icons
----------------------------------------------- */
@mixin svgIcon($name, $width, $height){
  background-image: url($iconsPath + $name + ".svg");
  width: $width + px;
  height: $height + px;
}

[class*="icon-"]{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.icon{
  &--top{
    margin-bottom: .6em;
  }
  &--bottom{
    margin-top: .6em;
  }
  &-left{
    margin-right: .6em;
  }
  &--right{
    margin-left: .6em;
  }
}

// Icons Map
$icons: (
  search: ( width  : 23, height : 23 ),
  close: ( width  : 20, height : 20 ),
  burguer: ( width  : 24, height : 14 ),
  dot-red: ( width  : 7, height : 7 ),
  dot-green: ( width  : 7, height : 7 ),
  dot-blue: ( width  : 7, height : 7 ),
  delete: ( width  : 17, height : 17 ),
  arrow-select: ( width  : 9, height : 6 ),
  arrow-right-black: ( width  : 13, height : 7 ),
  gob: ( width  : 109, height : 20 ),
  key: ( width  : 36, height : 39 ),
  facebook: ( width  : 32, height : 32 ),
  twitter: ( width  : 33, height : 26 ),
  instagram: ( width  : 32, height : 32 ),
  youtube: ( width  : 32, height : 24 ),
);

@each $iconName, $icon in $icons {
  .icon{
    &-#{$iconName}{
      @include svgIcon($iconName, map-get($icon, width), map-get($icon, height));
    }
  }
}

