
/* Sections */

.section{
	// padding: 10px 0;
	padding-bottom: 10px;
	padding-top: 10px;
	// padding-left: 0;
	// padding-right: 0;
	@include mq($from: tablet ) {
		// padding: 50px 0;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	&--nopadding{
		// padding: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-top: 0;
	}
	&--medium{
		// padding: 25px 0;
		padding-bottom: 25px;
		padding-top: 25px;
		// padding-left: 0;
		// padding-right: 0;
	}
	&--big{
		// padding: 70px 0;
		padding-bottom: 70px;
		padding-top: 70px;
		// padding-left: 0;
		// padding-right: 0;
	}
	&--component-dark{
		background-color: #f3f3f3;
	}
}
@each $colorName, $color in $colors {
	.expand-#{$colorName}-left {
		@include expand($color, left);
	}
	.expand-#{$colorName}-right {
		@include expand($color, right);
	}
	.expand-#{$colorName} {
		@include expand($color);
	}
}

