-var projectName = "Gob.cl"
-var temp = "images/temp/";
-var icons = "images/icons/";
-var media = "media/";
include mixins
doctype
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html
	//<![endif]\
	include head
	block body
	