footer.site-footer
	.container
		a.site-footer_logo(href="#"): i.icon-gob-footer
		.row.hidden-xs
			.col-sm-6.col-lg-3
				ul.menu
					li: a(href="#").link.link--clean.text-white Programa de Gobierno 2014 - 2018
					li: a(href="#").link.link--clean.text-white Ley de transparencia
					li: a(href="#").link.link--clean.text-white Gobierno transparente
			.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1
				ul.menu
					li: a(href="#").link.link--clean.text-white Política de privacidad
					li: a(href="#").link.link--clean.text-white Términos de uso
					li: a(href="#").link.link--clean.text-white Creative Commons
			.col-sm-12.col-lg-4
				a(href="#").button.button--block.site-footer_button Visitas a La Moneda