header.site-header
	.site-header_fixed
		.container
			a.logo(href="index.html")
				i.icon-gob
			
			.site-header_right.hidden-xs
				a(href="tramites.html").link.link--dib Trámites y beneficios
				a(href="noticias.html").link.link--dib Noticias
				a(href="instituciones.html").link.link--dib Instituciones
				a(href="#").btn-search.toggle-search
					i.ic-search.btn-search_icon
					i.ic-close.btn-search_icon
				if hasLogin
					.site-header_login
						a(href="#")#loginBtn.link.link--dib.text-dark Iniciar sesion
			
			input(type="checkbox" id="menu-trigger").menu-trigger-input
			
			label(for="menu-trigger").menu-trigger
				span
			
			a(href="#").btn-search.btn-search--mobile.toggle-search
				i.ic-search.btn-search_icon
				i.ic-close.btn-search_icon

			include login

			nav.navigation
				.container
					h6.heading-label Secciones
					ul
						li: a(href="#").link.link--medium.overflowed-xs Trámites y beneficios
						li: a(href="#").link.link--medium.overflowed-xs Noticias
						li: a(href="#").link.link--medium.overflowed-xs Instituciones
						li: a(href="#").link.link--medium.overflowed-xs Acerca de Chile
					
					
					// FIn ejes opcionales 
					.navigation_bottom
						a.navigation_logo(href="#"): i.icon-gob-footer
						h4.heading-label.text-white Loreim
						.row
							.col-xs-12
								ul
									li: a(href="#").link.link--text-light.overflowed-xs Programa de Gobierno 2014 - 2018
									li: a(href="#").link.link--text-light.overflowed-xs Programa de Gobierno 2014 - 2018
									li: a(href="#").link.link--text-light.overflowed-xs Programa de Gobierno 2014 - 2018
						.row
							.col-xs-4
								p.text-white Escríbenos
							.col-xs-8
								ul.social
									li: a(href="#"): i.ic-facebook
									li: a(href="#"): i.ic-twitter
									li: a(href="#"): i.ic-instagram
									li: a(href="#"): i.ic-youtube