.lightbox-gallery
	.container.lightbox-gallery_container
		.lightbox-gallery_content
			a(href="#").lightbox-gallery_close: i.ic-close
			.row
				.table-md-row
					.col-xs-12.col-md-10.col-lg-10.top
						.lightbox-gallery_buttons
							a(href="#").lightbox-gallery_link.prev Anterior
							a(href="#").lightbox-gallery_link.next Siguiente
						.lightbox-gallery_image-current
							img(src=`${temp}gallery-1.jpg`, alt="").lightbox-gallery_image
					.col-xs-12.col-md-2.col-lg-2.top
						.lightbox-gallery_sidebar
							a(href="#").lightbox-gallery_image-next
								img(src=`${temp}gallery-2.jpg`, alt="").lightbox-gallery_image-thumbnail.img-responsive
							.lightbox-gallery_text
								p Es el momento de emprender este cambio, de dar un nuevo paso que permita ampliar la protección y las garantías para nuestros compatriotas”