.login
	.form
		.form_field
			label(for="") Ingrese su usuario o Email
			input(type="text" placeholder="Email@gob.cl")
		.form_field
			label(for="") Password
			input(type="text" placeholder="*****")
			a(href="#").link.login_link Recuperar password
		button(type="submit").button.button--block.login_submit Ingresar
