block scripts
	//- script(src="js/plugins-min.js")
	script(src="js/lib/jquery.js")
	script(src="js/lib/jquery.easing.js")
	script(src="js/lib/slick.js")
	script(src="js/lib/collapsible.js")
	script(src="js/app-min.js")
	block scriptsBody

