.toolbar(class=`${ toolbarDark? 'dark': '' }`)
	.toolbar_content
		a(href="#").toolbar-button.toolbar-button--contrast
			span.toolbar-button_content
				i.ic-contrast.toolbar-button_icon
		a(href="#").toolbar-button.toolbar-button--less
			span.toolbar-button_content
				i.ic-font-size-less.toolbar-button_icon
		a(href="#").toolbar-button.toolbar-button--plus
			span.toolbar-button_content
				i.ic-font-size-plus.toolbar-button_icon
		.toolbar_player
			a(href="#track")#listen.toolbar-button.toolbar-button--listen
				span.toolbar-button_content
					i.toolbar-button_icon.ic-volume
					span.toolbar-button_text Escuchar
			.toolbar-player.hide
				a(href="#").toolbar-player_toggle
					span.toolbar-button_content
						i.ic-pause.toolbar-button_icon-pause
						i.ic-play.toolbar-button_icon-play
				.toolbar-player_timeline
					span
				a(href=`${media}National_Anthem_of_Chile.ogg` download).toolbar-player_download
					span.toolbar-button_content
						i.ic-download
	a(href="#").toolbar-button.toolbar-button--toggle
		span.toolbar-button_content
			i.ic-accessibility.toolbar-button_icon
			i.ic-close.toolbar-button_icon
		
