extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Acerca de | #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body

		-var hasSearch = false;
		include partials/header

		main.site-main
			section.section.bg-bluedark
				.container
					.row
						.col-xs-12.col-sm-12.col-md-7
							article.text-light
								h1.heading-large Acerca de Chile
								p Información para turistas, migrantes y quienes quieran estudiar o hacer negocios en Chile. 
			section.section
				.container
					.row
						.col-xs-12.col-md-12
							article
								h2.heading-medium Turismo
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar pretium tellus nec accumsan.
								a(href="#").link.link--text-dark.overflowed-xs Como llegar
								a(href="#").link.link--text-dark.overflowed-xs Dónde ir
								a(href="#").link.link--text-dark.overflowed-xs Qué hacer
								a(href="#").link.link--text-dark.overflowed-xs Destinos recomendados

								h3.heading-label.nomargin Si eres extranjero
								a(href="#").link.overflowed-xs Chile Travel
								h3.heading-label.nomargin Si eres chileno
								a(href="#").link.overflowed-xs Conoce Chile

						.col-xs-12.col-md-12
							article
								h2.heading-medium Negocio
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar pretium tellus nec accumsan.
								a(href="#").link.link--text-dark.overflowed-xs Convenciones y congresos
								a(href="#").link.link--text-dark.overflowed-xs Viajes de incentivo
								a(href="#").link.overflowed-xs This is Chile
								a(href="#").link.overflowed-xs Startup Chile
								a(href="#").link.overflowed-xs Invest Chile
								a(href="#").link.overflowed-xs Pro Chile

						.col-xs-12.col-md-12
							article
								h2.heading-medium Migración
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar pretium tellus nec accumsan.
								a(href="#").link.link--text-dark.overflowed-xs Chilenos
								a(href="#").link.link--text-dark.overflowed-xs Idioma
								a(href="#").link.link--text-dark.overflowed-xs Demografía
								a(href="#").link.link--text-dark.overflowed-xs Residencia
								a(href="#").link.link--text-dark.overflowed-xs Permanencia definitiva
								a(href="#").link.overflowed-xs Extranjería
					.row
						.col-xs-12.col-md-12
							article
								h2.heading-medium Estudios
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar pretium tellus nec accumsan.
								a(href="#").link.link--text-dark.overflowed-xs Requisitos y trámites
								a(href="#").link.link--text-dark.overflowed-xs Oferta académica
								a(href="#").link.link--text-dark.overflowed-xs Hospedaje
								a(href="#").link.link--text-dark.overflowed-xs Moneda
								a(href="#").link.link--text-dark.overflowed-xs Clima y estaciones
								a(href="#").link.overflowed-xs Learn Chile
					
					
		include partials/footer
	include partials/scripts
		//- script(src="js/page.js" type="text/javascript")

