extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body

		-var hasSearch = false;
		include partials/header

		main.site-main
			section.section
				.container
					.search-form
						input(type="search" placeholder="Escribe aquí lo que deseas buscar" value="Becas").search-form_input
						button(type="submit").search-form_button.search-form_button--submit: i.icon-search
						button(type="button").search-form_button.search-form_button--cancel: i.icon-delete
					.filters
						.row
							.col-xs-6
								div
									label(for="") Filtrar por:
									.select
										select(name="")
											option Trámites
							.col-xs-6
								div
									label(for="") Ordenar por:
									.select
										select(name="")
											option Az

					.overflowed
						a(href="#").link.link--has-dot-red Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
						a(href="#").link.link--has-dot-red Beca Presidente de la República para estudiantes de educación superior (renovación)
						a(href="#").link Beca Patagonia Aysén (postulación ó renovación)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
						a(href="#").link Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
						a(href="#").link Beca Presidente de la República para estudiantes de educación superior (renovación)
						a(href="#").link Beca Presidente de la República para estudiantes de educación superior (renovación)
						a(href="#").link Beca Patagonia Aysén (postulación ó renovación)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca Presidente de la República para estudiantes de educación superior (renovación)
			

		include partials/footer
	include partials/scripts
		//- script(src="js/page.js" type="text/javascript")

