extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Resultados | #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body

		-var hasSearch = false;
		include partials/header

		main.site-main.bg-bluedark
			section.section
				.container
					.row
						.col-sm-12.col-md-8.col-lg-7
							.search-form.search-form--large
								form(action="resultados.html")
									input(type="search" placeholder="Escribe aquí lo que deseas buscar" value="Ministerio de transporte").search-form_input
									button(type="submit").search-form_button.search-form_button--submit: i.icon-search
									button(type="button").search-form_button.search-form_button--cancel: i.icon-delete

					.row
						.col-sm-12.col-md-4.col-lg-4
							h2.heading-label.heading-label--light Tramites
							div.search_section.overflowed-xs
								a(href="#").link.link--text-light.link--has-dot-red Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
								a(href="#").link.link--text-light.link--has-dot-red Beca Presidente de la República para estudiantes de educación superior (renovación)
								a(href="#").link.link--text-light.overflowed-xs Beca Prueba de Selección Universitaria (PSU)
								a(href="#").link.link--text-light.overflowed-xs.hidden-xs Beca Prueba de Selección Universitaria (PSU)
								a(href="#").link.link--text-light.overflowed-xs.hidden-xs Beca Prueba de Selección Universitaria (PSU)
								a(href="#").link.link--text-light.overflowed-xs.hidden-xs Beca Prueba de Selección Universitaria (PSU)
								.clearfix
									a(href="#").more.more--right Ver más

						.col-sm-12.col-md-4.col-lg-4
							h2.heading-label.heading-label--light Noticias
							div.search_section.overflowed-xs
								article.new.new--small
									span.new_category.new_category--light Economia y empleo
									h2.new_title.new_title--light: a(href="#").link Mandataria celebró el noveno aniversario de la Reforma Previsional
								article.new.new--small
									span.new_category.new_category--light Economia y empleo
									h2.new_title.new_title--light: a(href="#").link Presidenta promulgó la Ley de Tenencia Responsable de Mascotas y Animales de Compañía
								article.new.new--small
									span.new_category.new_category--light Economia y empleo
									h2.new_title.new_title--light: a(href="#").link Yo Apoyo Tres Causales: El sitio con lo que necesitas saber del histórico proyecto de ley
								.clearfix
									a(href="#").more.more--right Ver más

						.col-sm-12.col-md-4.col-lg-4
							h2.heading-label.heading-label--light Instituciones
							div.search_section.overflowed-xs
								a(href="#").link.link--text-light Ministerio de transporte
								a(href="#").link.link--text-light Ministerio de Relaciones Exteriores de Chile
								a(href="#").link.link--text-light Gobierno Regional del Biobío
								a(href="#").link.link--text-light.hidden-xs Ministerio de transporte
								a(href="#").link.link--text-light.hidden-xs Ministerio de Relaciones Exteriores de Chile
								a(href="#").link.link--text-light.hidden-xs Gobierno Regional del Biobío
								.clearfix
									a(href="#").more.more--right Ver más
						.col-xs-12.col-sm-12.text-xs-center.text-sm-center
							.site-search_button-results
								a(href="#").button.button--clean.button--more Ver todos los resultados
		

		include partials/footer
	include partials/scripts