footer.site-footer
	.container
		a.site-footer_logo(href="#"): i.icon-gob
		.row.hidden-xs
			.table-lg-row
				.col-lg-2
				.col-sm-6.col-lg-3
					ul.menu
						li: a(href="#").link.link--clean.link--text-light Programa de Gobierno 2014 - 2018
						li: a(href="#").link.link--clean.link--text-light Ley de transparencia
						li: a(href="#").link.link--clean.link--text-light Gobierno transparente

				.col-sm-6.col-md-3.col-lg-3
					ul.menu
						li: a(href="#").link.link--clean.link--text-light Política de privacidad
						li: a(href="#").link.link--clean.link--text-light Términos de uso
						li: a(href="#").link.link--clean.link--text-light Creative Commons
				.col-lg-1
				.col-sm-12.col-lg-3.bottom
					ul.social
						li: a(href="#"): i.icon-facebook
						li: a(href="#"): i.icon-twitter
						li: a(href="#"): i.icon-instagram
						li: a(href="#"): i.icon-youtube