.button{
  background-color: get-color(red);
  color: get-color(white);
  font-size: ms(0);
  line-height: 24px;
  display: inline-block;
  // margin: ms(1) 0;
  margin: 0;
  padding: 18px 25px;
  padding-right: 45px;
  height: 60px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  &:after{
    background: url($iconsPath + 'arrow-right-white.svg');
    content: "";
    display: block;
    margin-top: -3px;
    margin-right: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    height: 7px;
    width: 13px;
  }
  &--clean{
    padding-right: 25px;  
    &:after{
      display: none;
    }
  }
  &--block{
    display: block;
  }
  &--floating{
    margin-bottom: -35px;
    z-index: 1;
  }
  &--rounded{
    border-radius: 20px;
  }
  &--more{
    min-width: 266px;
    margin: 0 auto;
  }
  @include press-button();
  &--red{
    background-color: get-color(red);
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
  }
  &--bluedark{
    background-color: get-color(bluedark);
    color: get-color(red);
    &:after{
      background: url($iconsPath + 'arrow-right-red.svg');
    }
  }
  &--dark{
    background-color: get-color(dark);
    color: get-color(red);
    &:after{
      background: url($iconsPath + 'arrow-right-red.svg');
    }
  }
  &--blue{
    background-color: get-color(blue);
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
  }
  &--green{
    background-color: get-color(green);
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
  }
  &--yellow{
    background-color: get-color(yellow);
    color: get-color(dark);
    &:after{
      background: url($iconsPath + 'arrow-right-black.svg');
    }
  }
  &--gray{
    background-color: get-color(gray);
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
  }
  &--lightgray{
    background-color: get-color(lightgray);
    color: get-color(red);
    &:after{
      background: url($iconsPath + 'arrow-right-red.svg');
    }
  }
  &--white{
    background-color: get-color(white);
    color: get-color(red);
    &:after{
      background: url($iconsPath + 'arrow-right-red.svg');
    }
  }
  &--lightblue{
    background-color: get-color(lightblue);
    color: get-color(dark);
    &:after{
      background: url($iconsPath + 'arrow-right-black.svg');
    }
  }
  &--gray-dark{
    background-color: get-color(gray);
    color: get-color(dark);
    &:after{
      background: url($iconsPath + 'arrow-right-black.svg');
    }
  }
  &--darkred{
    background-color: get-color(darkred);
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
  }
 
}
.link{
  color: get-color(red);
  display: block;
  font-size: ms(0);
  line-height: 24px;
  white-space: normal;
  text-decoration: none;
  // padding: 18px 25px;
  padding: 18px 15px;
  padding-right: 45px;
  position: relative;
  // margin: 10px 0;
  text-decoration: underline;
  @include mq($from: tablet ) {
    // padding: 18px 0;
  }
  &:hover,
  &.hover{
    background-color: rgba(#0A132D, .05);
  }
  &.active{
    color: get-color(dark);
    &:after{
      background: url($iconsPath + 'arrow-right-black.svg');
    }
  }
  &:after{
    background: url($iconsPath + 'arrow-right-red.svg');
    content: "";
    display: block;
    margin-top: -3px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    height: 7px;
    width: 13px;
    @include mq($from: tablet ) {
      display: none;
    }
  }
  &--clean{
    color: get-color(white);
    display: inline-block;
    padding: 0;
    &:after{
      display: none;
    }
  }
  &--dib{
    display: inline-block;
    // padding: 0;
    
  }

  &--gray{
    background:rgba( get-color(bluedark) , .05);
    color: get-color(dark); 
    &:after{
      background: url($iconsPath + 'arrow-right-black.svg');
    }   
  }
  &--dark{
    background-color: get-color(dark);
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
    &:hover,
    &.hover{
      background-color: get-color(dark);    
    }
  }
  // &--transparent{
  //   background-color: rgba(#fff,.05);
  // }
  &--medium{
    // min-height: 40px;
    // padding: 8px 15px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  &--text-dark{
    color: get-color(dark);
    &:after{
      background: url($iconsPath + 'arrow-right-black.svg');
    }
  }
  &--text-light{
    color: get-color(white);
    &:after{
      background: url($iconsPath + 'arrow-right-white.svg');
    }
  }
  &--has-dot-red{
    // padding: 18px 45px 18px 25px;
    padding-left: 25px;
    &:before{
      content: "";
      @include circle(7px, get-color(red));
      margin-top: -3px;
      margin-left: 8px;
      position: absolute;
      left: 0;
      top: 50%;
      @include mq($from: tablet ) {
        // margin-left: -15px;
      }
    }
  }
  &--has-dot-blue{
    // padding: 18px 45px 18px 25px;
    padding-left: 25px;
    &:before{
      content: "";
      @include circle(7px, get-color(blue));
      margin-top: -3px;
      margin-left: 4px;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }
  &--has-dot-green{
    // padding: 18px 45px 18px 25px;
    padding-left: 25px;
    &:before{
      content: "";
      @include circle(7px, get-color(green));
      margin-top: -3px;
      margin-left: 4px;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }
}

.more{
  color: get-color(red);
  display: inline-block;
  padding: 10px 15px;
  text-decoration: underline;
  &--dark{
    color: get-color(dark);
  }
  &--right{
    float: right;
  }
}

.info-prodecure{
  background-color: get-color(light);
  padding: 19px 15px;
  font-family: $roboto;
  font-weight: 400;
  font-size: ms(-3);
  line-height: 13px;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  text-transform: uppercase;
  &_code{
    float: right;
    width: 50%;
    text-align: right;
  }
  &_label{
    float: left;
    width: 50%;
  }
}

.button-fixed{
  @include mq($until: tablet ) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 25;
    padding: 15px;
  }
}