.ctag{
	// background-color: get-color(red);
	background-color: rgba(#111111, .1);
  color:#111111;
  font-size: ms(-1);
  line-height: ms(0);
  display: inline-block;
  margin: ms(-1) 0;
  padding: 13px 18px;
  margin: 0 ms(-1) 0 0;
  height: 42px;
  position: relative;
  text-align: center;
	text-decoration: none;
	white-space: nowrap;
	&:hover,
	&.hover{
		background-color: get-color(red);
		color: get-color(white); 
	}
	&--clarity{
		background-color: rgba(get-color(white), .1);
		color: rgba(get-color(white), .8);
	}
}

.tags{
	padding: 0 15px;
	// width: 100%;
	margin-bottom: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	@include mq($from: tablet ) {
		padding: 0;
	}
	&_content{
		display: table;
		padding-bottom: 8px;
		@include mq($from: tablet ) {
			display: block;
		}
	}
	&_item{
		display: table-cell;
		vertical-align: middle;
		table-layout: fixed;
		@include mq($from: tablet ) {
			display: inline-block;
		}
	}
}