extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Región | #{projectName}
block body
	body
		include partials/header
		main.site-main
			section.bg-light
				.container
					ol.breadcrumb
						li: a(href="#") Home
						li: a(href="#") Instituciones
						li: a(href="#") Región del Biobío
			section.section--medium.bg-bluedark
				.container
					.row
						.col-xs-12.col-sm-12.col-md-5.pull-md-right.col-lg-4.col-lg-offset-1
							include partials/toolbar
						.col-xs-12.col-sm-12.col-md-7.col-lg-7
							article.text-light
								h1.heading-large Región del Biobío
								p Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis.
								p Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis. Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis. 
								
			section
				.container
					.row
						.table-md-row
							.col-xs-12.col-md-8
								.profile.profile--half
									.profile_image
										img(src=`${temp}rodrigo-diaz.jpg`, alt="").img-responsive
									.profile_header
										h3.profile_title Rodrigo Díaz Wörner
										span.profile_job Ministra de Transportes y Telecomunicaciones
									
									p Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis. 
									p: a(href="#").profile_twitter @Intendenciabiobio

									ul.profile_info
										li: span Teléfono: (56-6) 1234-5678 
										li: span Correo electrónico: info@gob.cl
							.col-xs-12.col-md-4.bottom
								.profile_buttons.overflowed-xs
									a(href="ministerio.html").button.button--block Ir al sitio del Ministerio

			section.section.bg-light
				.container
					
					.row
						.col-xs-12.col-md-4.col-lg-4
							article
								h2.heading-medium Municipios
								h3.heading-label Selecciona una comuna
								.select
									select(name="")
										option(value="Los Ángeles") Los Ángeles
						.col-xs-12.col-md-6.col-lg-4
							article.card-new
								h2.card-new_title Los Ángeles
								p.card-new_text Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis. 
								p: a(href="#").profile_twitter @municipio
								ul.profile_info
									li: span Teléfono: (56-6) 1234-5678 
									li: span Correo electrónico: info@gob.cl
								
								a(href="#").link.link--clean.text-red www.municipio.cl
								
			section
				.container
					include partials/social
		include partials/search
		include partials/footer
		include partials/scripts