.activity {
  background-color: #868686;
  color: get-color(white);
  height: 158px;
  padding: 24px 0 0 15px;
  position: relative;
  @include clearfix();
  // &:nth-child(2){
  //   background-color: #717171;
  // }
  // &:nth-child(3){
  //   background-color: #565656;
  // }
  &--deg-1 {
    background-color: #EBEBEB;
    color: get-color(blue);
    .activity {
      &_date {
        background-image: url($iconsPath + 'calendar-dark.svg');
      }
    }
    &.activity {
      &--expand-left {
        @include expand(#EBEBEB, left);
      }
    }
  }
  &--deg-2 {
    background-color: #868686;
    &.activity {
      &--expand-left {
        @include expand(#868686, left);
      }
    }
  }
  &--deg-3 {
    background-color: #717171;
    &.activity {
      &--expand-left {
        @include expand(#717171, left);
      }
    }
  }
  &--deg-4 {
    background-color: #565656;
    &.activity {
      &--expand-left {
        @include expand(#565656, left);
      }
    }
  }
  &--small {
    padding: 40px 0 0 15px;
  }
  &_date {
    background: transparent url($iconsPath + 'calendar.svg') no-repeat center center;
    height: 45px;
    width: 39px;
    padding: 19px 0 0;
    position: relative;
    text-align: center;
    margin: 0 auto;
    .day {
      font-size: 1rem;
      font-weight: 700;
    }
    .month {
      font-size: 1.12500rem;
      font-weight: 700;
      top: 100%;
      margin-top: 10px;
      text-align: center;
      @include center(h);
    }
    &--big {
      background-size: cover;
      height: 78px;
      padding: 32px 0 0;
      width: 66px;

      .day {
        font-size: 1.75rem;
      }
    }
  }
  &_title {
    font-size: 0.857rem;
    font-weight: 400;
    transform: translate(0, 50%);
    margin: 0;
    // @include center(v);
  }
}