.panel{
	margin: 0 0 30px;
	// @include mq($from: tablet ) {
	// 	margin: 0;
	// }
	&_header{
		height: 120px;
		padding: 20px 15px 15px 110px;
		position: relative;
		@include mq($from: tablet ) {
			height: 100px;
			padding: 45px 70px 25px 168px;
		}
		&--blue{
			background-color: get-color(blue);
			border-bottom: 4px solid #00467A;
			color: get-color("white");
		}
		&--red{
			background-color: get-color("red");
			border-bottom: 4px solid #A6252C;
			color: get-color("white");
		}
	}
	&_heading{
		padding: 0 10px 0 0;
		&--bottom{
			position: absolute;
    	bottom: 0;
			margin: 0 0 6px;
		}
		&--center{
			margin: 5px 0 0;
			@include center(v);
		}
	}
	&_title{
		font-size: ms(1);
	}
	&_title,
	&_subtitle{
		margin: 0;
	}
	&_subtitle{
		font-size: ms(0);
		font-weight: 400;
	}
	&_icon{
		position: absolute;
		left: 0;
		bottom: 0;
		margin-left: 15px;
		@include mq($from: tablet ) {
			margin-left: 65px;
		}
	}
	&_footer{
		background-color: get-color("graylight");
		overflow: hidden;
		padding: 25px 25px;
		@include mq($from: tablet ) {
			padding: 30px 70px 30px;
		}
		@include mq($from: wide ) {
			// position: absolute;
			// left: 0;
			// right: 0;
			// bottom: 0;
			// margin-bottom: 30px;
			
			@include clearfix();
		}
	}
	&_body{
		background-color: get-color("graylight");
		padding: 25px 25px;
		overflow: hidden;
		@include mq($from: tablet ) {
			padding: 26px 70px 0;
		}
		@include mq($from: desktop ) {
			height: 268px;
		}
		p{
			line-height: ms(3);
		}
	}
	&_content{
		@include mq($from: wide ) {
			max-width: 490px;
		}
	}
}