.program{
	position: relative;
	
	margin: 0 0 30px;
	@include mq($from: tablet ) {
		padding-left: 98px;	
	}
	&_title{
		font-size: 1rem;
		margin: 0 0 8px;
	}
	&_circle{
		@include circle(66px, get-color(blue));
		// float: left;
		margin: 0 auto;
		margin-bottom: 15px;
		@include mq($from: tablet ) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&_content{
		// padding-right: 31px;
	}
}