.heading{
	&-large{
		// color: get-color(dark);
		color: rgba(get-color(dark), .8);		
		font-family: $robotoSlab;
		font-size: ms(6);
		// font-size: ms(2);
		font-weight: 400;
		// line-height: 24px;
		line-height: 38px;
		
		// padding: 21px 0;
		// margin: 0;
		margin: 21px 0;
		&--light{
			color: rgba(get-color(white), .8);
		}
		@include mq($from: tablet ) {
			font-size: ms(6);
			line-height: 38px;
			// font-size: 32px;
			margin: 0 0 21px 0;
		}
	}
	&-medium{
		color: get-color(dark);
		font-family: $robotoSlab;
		font-size: ms(3);
		// font-size: 23px;
		font-weight: 400;
		line-height: 24px;
		// padding: 21px 0;
		// margin: 0;
		margin: 0 0 21px 0;
		&--light{
			color: get-color(white);
		}
		.heading-sub{
			font-size: ms(0);
		}
	}
	&-sub{
		color: rgba(get-color(dark), .6);
		font-family: $roboto;
		font-size: ms(2);
		// font-size: 21px;
		font-weight: 400;
		line-height: 24px;
		// padding: 21px 0;
		// margin: 0;
		margin: 21px 0;
		&--light{
			color: rgba(get-color(white), .6);
		}
		@include mq($from: tablet ) {
			margin: 0 0 21px 0;
		}
	}
	&-label{
		color: rgba(get-color(dark), .4);
		font-family: $roboto;
		font-weight: 400;
		font-size: ms(-3);
		display: block;
		// font-size: 11px;
		letter-spacing: 1.5px;
		line-height: 13px;
		// padding: 18px 0;
		// margin: 0;
		margin: 18px 0;		
		text-transform: uppercase;
		@include mq($from: tablet ) {
			margin: 0 0 18px;
		}
		&--wrapped{
			padding: 18px 0;
			margin: 0;			
		}
		&--light{
			color: rgba(get-color(white), .4);
		}
		&--small{
			margin: 0 0 12px;
		}
	}
	&-link{
		color: get-color(dark);
		font-family: $roboto;		
		font-size: ms(0);
		// font-size: 16px;
		line-height: 24px;	
		// padding: 21px 0;
		// margin: 0;
		margin: 21px 0;
		// text-decoration: underline;
		&--light{
			color: get-color(white);
		}
		a{
			color: inherit;
			padding-right: 25px;
			position: relative;
			text-decoration: underline;
			&:after{
				background: url($iconsPath + 'arrow-right-black.svg');
				content: "";
				display: inline-block;
				height: 7px;
				width: 13px;
				margin-left: 5px;
				// @include mq($from: tablet ) {
				// 	display: none;
				// }
				@include mq($from: tablet ) {
					display: none;
				}
			}
		}
	}
}
.date{
	color: rgba(get-color(dark),.4);		
	font-family: $roboto;
	display: block;
	font-weight: 300;
	font-size: ms(-3);
	line-height: 24px;
	margin: 0 0 10px;
}
.type{
	color: get-color(green);
	font-family: $roboto;
	display: inline;
	font-weight: 600;
	// font-size: ms(-1);
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid get-color(green);
	border-top: 1px solid get-color(green);
	// margin: 0 0 10px;
}
.disable{
	color: #BDBDBD;
}
.error{
	color: rgba(get-color(red),.6);
}
.text-light{
	.heading{
		&-large{
			color: rgba(get-color(white), .8);
		}
		&-medium{
			color: get-color(white);
		}
		&-sub{
			color: rgba(get-color(white), .6);
		}
		&-label{
			color: rgba(get-color(white), .4);
		}
		&-link{
			color: get-color(white);
			a{
				&:after{
					background: url($iconsPath + 'arrow-right-white.svg');
				}
			}
		}
	}
	p{
		color: rgba(get-color(white), .8);
	}
	.card-data{
		&_title,
		&_text{
			color: get-color(white);		
		}
	}
	.type{
		color: get-color(white);
		border-color: get-color(white);
	}
}