.step{
	// width: 200px;
	padding: 15px 14px;
	border: 1px solid get-color(lightgray);
	margin: 53px 2px 0;
	position: relative;
	@include mq($from: tablet ) {
		margin: 53px 0 0;
		&:after{
			content: '';
			border-left: 1px solid get-color(lightgray);
			width: 1px;
			height: 53px;
			bottom: 100%;
			display: block;
			position: absolute;
			left: 96px;

		}
	}
	&_number{
		opacity: .3;
		position: absolute;
		bottom: 100%;
		left: 0;
		margin: 0 0 10px;
		width: 100%;
		text-align: right;
		@include mq($from: tablet ) {
			text-align: left;
		}
	}
	&--last{
		&:after{
			// display: none;
		}
	}
}