/* =Typography
----------------------------------------------- */
// background based typography colors
.light.typography {
	color: get-color(black);

	a {
		color: get-color(black);
	}

	a:hover {
		color: get-color(black);
	}

	h1, h2, h3, h4, h5, h6 {
		color: get-color(black);
	}
}

.dark.typography {
	color: get-color(white);

	a {
		color: get-color(white);
	}

	a:hover {
		color: get-color(white);
	}

	h1, h2, h3, h4, h5, h6 {
		color: get-color(white);
	}
}

// font styling and sizing
p, h1, h2, h3, h4, h5, h6 {
	// color: inherit;
	margin: 0 0 ms(0);
}

// p {
//     font-family: "Open Sans";
// }

// h1, h2, h3, h4, h5, h6 {
//     font-family: "Open Sans";
//     color: inherit;
// }

p  { font-size: ms(0); line-height: ms(3);}
h1, .title-s1 { font-size: ms(5); font-weight: 400;}
h2, .title-s2 { font-size: ms(4); font-weight: 400;}
h3, .title-s3 { font-size: ms(3); font-weight: 400;}
h4, .title-s4 { font-size: ms(2); font-weight: 400;}
h5, .title-s5 { font-size: ms(1); font-weight: 400;}
h6, .title-s6 { font-size: ms(0); font-weight: 400;}

ul li  { font-size: ms(0); }
// positional helper classes
.text{
	&-center { text-align: center; }
	&-left { text-align: left; }
	&-right { text-align: right; }
	@each $bpName, $bp in $bootstrapBreakpoints {
		&-#{$bpName}-center{
			@include mq($from: $bp ) {
				text-align: center;
			}
		}
		&-#{$bpName}-left{
			@include mq($from: $bp ) {
				text-align: left;
			}
		}
		&-#{$bpName}-right{
			@include mq($from: $bp ) {
				text-align: right;
			}
		}
	}
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

// text styling helper classes
.italic    { font-style: italic; }
.xlight    { font-weight: 200; }
.light     { font-weight: 300; }
.regular   { font-weight: 400; }
.semibold  { font-weight: 500; }
.bold      { font-weight: 600; }
.xbold     { font-weight: 700; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.underline { text-decoration: underline; }