.files{
	&_header{
		background-color: get-color(blue);
		height: 126px;
		padding: 16px 40px;
		label{
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
	&_body{
		height: 250px;
		padding: 25px 40px;
		// overflow: hidden;
	}
	&_content{
		height: 100%;
		overflow-y: auto;
	}
}