/* =Colors
----------------------------------------------- */

// Color Map
$colors: (
  red: #FE6565,
  darkred: #BB0000,
  green: #2FAE7D,
  blue: #0021FF,
  lightblue: #85B1F5,
  yellow: #F2C728,
  dark: #111111,
  bluedark: #0A132D,
  white: #FFFFFF,
  light: #F5F6F7,
  darkgray: #313131,
  gray: #A8B7C7,
  lightgray: #E3E5EF,
  black: #000000
);

$contrast-colors: (
  red: #6DEDEE,
  darkred: #BB0000, // find
  green: #2FAE7D, // find
  blue: #0021FF, // find
  lightblue: #85B1F5, // find
  yellow: #22221D,
  dark: #CBCBCB,
  bluedark: #FEFEFE,
  white: #000000,
  light: #F5F6F7,
  darkgray: #E9E9E9,
  gray: #E2E2E2,
  lightgray: #22221D,
  black: #FFFFFF
);

$shadow: rgba(134,142,150,.5);

/* =Boostrap Override Variables
----------------------------------------------- */
@import 'partials/variables-functions';

$line-height-base: 1.42858 !default;

$font-size-base: 1rem;
$line-height-base: 1.5;

$container-max-widths: (
  lg: 960px,
  xl: 1140px
) !default;

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$navbar-light-color: get-color(dark);
$navbar-light-hover-color: rgba(get-color(dark), .6);

$enable-shadows: false;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

/* =Framework Variables
----------------------------------------------- */

$font-size-base-in-px: 16px !default;
$static-nav-link-height: 35px !default;

$a11y-font-1-static-nav-link-height: 45px !default;
$a11y-font-2-static-nav-link-height: 52px !default;

$contingency-actions-height: 60px;

// Assets
$imagesPath: "../images/" !default;
$iconsPath: "../images/icons/" !default;
$fontsPath: "../fonts/" !default;

$mq-breakpoints: (
  mobile: map-get($grid-breakpoints, sm),
  tablet: map-get($grid-breakpoints, md),
  desktop: map-get($grid-breakpoints, lg),
  wide: map-get($grid-breakpoints, xl)
);

$navbar-toggler-margin-y: 20px;
$a11y-font-1-2-navbar-toggler-margin-y: 23.5px;

// Footer links variables.
$navbar-item-xs-margin-y: 14.5px !default;
$navbar-item-md-margin-y: 18px !default;

$a11y-font-1-navbar-item-md-margin-y: 13px !default;
$a11y-font-2-navbar-item-md-margin-y: 9px !default;

$navbar-height: (
  xs: $static-nav-link-height + $navbar-item-xs-margin-y * 2,
  md: $static-nav-link-height + $navbar-item-md-margin-y * 2
);

$footer-base-height: (
  xs: 185px,
  md: 245px,
  xl: 223px,
) !default;

$footer-link-height: 44px !default;
$footer-links-max: 20 !default;
$footer-links-container-offset: 100px !default;

// Django cms toolbar variables.
$django-cms-toolbar: 5px !default;
$django-cms-toolbar-expanded: 49px !default;

// Forms
$labelSize: 0.6875rem;

$labelMarginBottom: 8px;
$labelMarginTop: 0;
$labelWeight: 400;

$formMarginBottom: 30px;

$inputHeight: 50px;
$inputBorder: 2px solid get-color(lightgray);
$inputBorderRadius: 0;

$buttonHeight: 38px;
$buttonWidth: 102px;
$buttonBorder: none;
$buttonBorderRadius: $buttonHeight/2;
$buttonSize: 0.875rem;
$buttonWeight: 700;