extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| #{projectName}
block cssPage
	link(rel='stylesheet', href='css/components.css')
block body
	body.components
		-var hasSearch = true;
		include partials/header
		main.site-main
			section.section
				.container
					.row
						.col-xs-12
							h1 Colors
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-bluedark
								.c-color_text #FE6565
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-red
								.c-color_text #FE6565
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-light
								.c-color_text #F5F6F7
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-white
								.c-color_text #FFFFFF

						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-dark
								.c-color_text #111111
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-gray
								.c-color_text #A8B7C7
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-lightgray
								.c-color_text #E3E5EF
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-blue
								.c-color_text #0021FF
						
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-green
								.c-color_text #2FAE7D
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-darkred
								.c-color_text #BB0000
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-lightblue
								.c-color_text #85B1F5
						.col-xs-6.col-sm-3.col-md-3
							.c-color
								.c-color_circle.bg-yellow
								.c-color_text #F2C728
			
			section.section.section--component-dark
				.container
					.row.c-buttons
						.col-xs-12
							h1 Buttons
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--bluedark Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--dark Texto boton contingencia


						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--blue Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--green Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--yellow Texto boton contingencia


						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--gray Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--lightgray Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--white Texto boton contingencia
						
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--lightblue Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--gray-dark Texto boton contingencia
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").button.button--block.button--darkred Texto boton contingencia

			section.section
				.container
					.row
						.col-xs-12
							h1 Links
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link Texto boton link buscador
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.hover Texto boton link buscador hover
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.link--has-dot-green Texto boton link buscador

						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.link--text-dark Texto boton link buscador
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.link--text-dark.hover Texto boton link buscador hover
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.link--text-dark.link--has-dot-red Texto boton link buscador
						
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.link--dark Texto boton link buscador
						.col-xs-12.col-sm-4.col-md-4
							a(href="#").link.link--dark.hover Texto boton link buscador hover

			section.section
				.container
					.row
						.col-xs-12.col-sm-4.col-md-4
							h1 Tags

							a(href="#").ctag Tag

							a(href="#").ctag.hover Tag
							br
							br
						.col-xs-12.col-sm-4.col-md-4
							h1 Icons

							.row
								.col-xs-12.col-sm-12.col-md-12

									.text-xs-center.text-sm-center
										i.icon-gob.icon--top
										p icon-gob
							.row
								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-search.icon--top
										p icon-search

								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-close.icon--top
										p icon-close

								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-burguer.icon--top
										p icon-burguer
							.row
								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-dot-red.icon--top
										p icon-dot-red

								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-dot-green.icon--top
										p icon-dot-green

								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-dot-blue.icon--top
										p icon-dot-blue
							.row
								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-delete.icon--top
										p icon-delete

								.col-xs-6.col-sm-6.col-md-4
									.text-xs-center.text-sm-center
										i.icon-arrow-select.icon--top
										p icon-arrow
							
			section.section.bg-light
				.container
					.row
						.col-xs-12
							h1.c-title TYPOGRAPHY
					.row
						.table-sm-row
							.col-xs-12.col-sm-3.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Large dark
							.col-xs-12.col-sm-9.col-lg-10.middle
								h2.heading-large The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-3.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Medium
							.col-xs-12.col-sm-9.col-lg-10.middle
								h2.heading-medium The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-3.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Sub Heading Medium
							.col-xs-12.col-sm-9.col-lg-10.middle
								h2.heading-sub The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-3.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Link Small 
							.col-xs-12.col-sm-9.col-lg-10.middle
								h2.heading-link: a(href="#") The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-3.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Label
							.col-xs-12.col-sm-9.col-lg-10.middle
								h2.heading-label The quick brown fox jumps over the lazy dog.
			
			section.section.bg-bluedark.text-light
				.container
					.row
						.col-xs-12
							h1.c-title.text-white TYPOGRAPHY Light
					.row
						.table-sm-row
							.col-xs-12.col-sm-4.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Large dark
							.col-xs-12.col-sm-8.col-lg-10.middle
								h2.heading-large The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-4.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Medium
							.col-xs-12.col-sm-8.col-lg-10.middle
								h2.heading-medium The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-4.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Sub Heading Medium
							.col-xs-12.col-sm-8.col-lg-10.middle
								h2.heading-sub The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-4.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Link Small 
							.col-xs-12.col-sm-8.col-lg-10.middle
								h2.heading-link: a(href="#") The quick brown fox jumps over the lazy dog.
					.row
						.table-sm-row
							.col-xs-12.col-sm-4.col-lg-2
								h2.heading-medium.c-sub-title.text-md-right Heading Label
							.col-xs-12.col-sm-8.col-lg-10.middle
								h2.heading-label The quick brown fox jumps over the lazy dog.
						
			
			section.section
				.container
					.row
						.col-xs-12.col-sm-4.col-md-4
							br
							br
							h1 Header
							
							header.site-header.c-header
								.site-header_container
									a.site-header_logo(href="index.html"): i.icon-gob
									label(for="menu-trigger").menu-trigger
										span
						
						.col-xs-12.col-sm-4.col-md-4
							br
							br
							h1 Header Search
							
							header.site-header.c-header
								.site-header_container
									a.site-header_logo(href="index.html"): i.icon-gob
									label(for="menu-trigger").menu-trigger
										span
									label(for="search-form").toggle-search: i.icon-search

						.col-xs-12.col-sm-4.col-md-4
							br
							br
							h1 Búsqueda
							.search-form
								input(type="search" placeholder="Escribe aquí lo que deseas buscar").search-form_input
								button(type="submit").search-form_button.search-form_button--submit: i.icon-search
								button(type="button").search-form_button.search-form_button--cancel: i.icon-delete
			
			section.section
				.container
					.row
						.col-xs-12
							h1 Noticias
						.col-xs-12.col-sm-4.col-md-4
							article.card
								h2.card_title Titulo Noticias
								p.card_text Bajada noticias Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
								a(href="#").card_more Más información
						.col-xs-12.col-sm-4.col-md-4
							article.card
								h2.card_title Titulo Noticias
								p.card_text Bajada noticias Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
								a(href="#").card_more Más información
						.col-xs-12.col-sm-4.col-md-4
							article.card
								h2.card_title Titulo Noticias
								p.card_text Bajada noticias Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
								a(href="#").card_more Más información
			
			section.section
				.container
					.row
						.col-xs-12
							h1 Post
						.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
							article.main-post
								h1 The quick brown fox jumps over the lazy dog.
								h4 The quick brown fox jumps over the lazy dog.

								p Sketch symbols are great because they provide one central place to manage components. Buttons are some of the easiest components to create, but like text fields, they have a lot of different states, colors, and styles. So it usually means creating a bunch of different symbols.
								
								blockquote
									p “¿Cómo estará Buzoni? Es una pregunta que me hago con inquietud. Estará inmóvil, apoyando su espalda en la pared de piedra, con una mano puesta con cierta suavidad en ese delgado tron­co de eucalipto que sirve de columna”
									small Juan Pablo Segwell

								p Sketch symbols are great because they provide one central place to manage components. Buttons are some of the easiest components to create, but like text fields, they have a lot of different states, colors, and styles. So it usually means creating a bunch of different symbols.

								a(href="#") Link fox jumps over the lazy dog.

			section.section.bg-light
				.container
					.row
						.col-xs-12
							h1 Persona
							br
							article.profile
								.profile_header
									h3.profile_title Paola Tapia Salas
									span.profile_job Ministra de Transportes y Telecomunicaciones

								div.profile_image
									img(src=`${temp}paola-tapia.png`, alt="").img-responsive
									
								p Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis. 
								ul.profile_info
									li: a(href="#").profile_twitter @paolatapiasalas
									li: span Teléfono: (56-6) 1234-5678 
									li: span Correo electrónico: info@gob.cl
						



						
		include partials/footer
	include partials/scripts
		script.
			App.components();

