extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Contingencia | #{projectName}
block body
	body
		-var hasSearch = true;
		include partials/header

		main.site-main
			//- .container
			a(href="#").button.button--bluedark.button--block Salir del modo contingencia

			section.section.bg-yellow
				.container
					article.article.article--dark
						//- span.article_category trámites y beneficios
						h2.heading-large Terremoto en Arica
						h3.heading-sub The quick brown fox jumps over the lazy dog.
						p Sketch symbols are great because they provide one central place to manage components. Buttons are some of the easiest components to create, but like text fields, they have a lot of different states, colors, and styles. So it usually means creating a bunch of different symbols.

			section.section--medium.bg-bluedark
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
							.schedule
								.schedule_left
									time.schedule_time.schedule_time--has-dot 12:50
								.schedule_right
									a(href="#").schedule_link Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							.schedule
								.schedule_left
									time.schedule_time.schedule_time--has-dot 11:35
								.schedule_right
									a(href="#").schedule_link Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							.schedule
								.schedule_left
									time.schedule_time 12:50
								.schedule_right
									a(href="#").schedule_link Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			section
				.container
					h3.heading-label Encuentra más información en:
					.row
						.col-md-6
							.card-small
								h5.card-small_title
									a(href="#").card-small_link
										| Onemi
										i.icon-arrow-right-black.icon--right
								.card-small_body
									p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.col-md-6
							.card-small
								h5.card-small_title
									a(href="#").card-small_link
										| Shoa
										i.icon-arrow-right-black.icon--right
								.card-small_body
									p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		include partials/search
		include partials/footer
	include partials/scripts
		//- script(src="js/page.js" type="text/javascript")

