extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Instituciones | #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body
		-var hasSearch = true;
		include partials/header

		main.site-main
			section.section.bg-bluedark
				.container
					.row
						.col-xs-12.col-sm-12.col-md-7
							article.text-light
								h2.heading-large Instituciones
								p Tu guía ciudadana para acceder simple y rápido a servicios e información del Gobierno de Chile.
			
			section.section.bg-lightgray.nopadding
				.container
					.row
						.col-xs-12.col-sm-12.col-md-7
							article
								h2.heading-medium Presidencia
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.clearfix
									a(href="#").more.more--right Ver más

			section.section.bg-red.nopadding
				.container
					.col-xs-6
						div.card-data.text-light
							h1.card-data_title
								span 23 
								small Ministros
							p.card-data_text Tu guía ciudadana para acceder simple y rápido a servicios e información del Gobierno de Chile.
					.col-xs-6
						div.card-data.text-light
							h1.card-data_title
								span 15 
								small Gore
							p.card-data_text Tu guía ciudadana para acceder simple y rápido a servicios e información del Gobierno de Chile.
			

			section.section--small
				.container
					h2.heading-medium Ministerios
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio del Interior y Seguridad Pública
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Relaciones Exteriores
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Defensa Nacional
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Hacienda
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio Secretaría General de la Presidencia
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio Secretaría General de Gobierno
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Economía, Fomento y Turismo
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Desarrollo Social
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Educación
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Justicia y Derechos Humanos
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio del Trabajo y Previsión Social
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Obras Públicas
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Salud
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Vivienda y Urbanismo
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Agricultura
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Minería
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Transportes y Telecomunicaciones
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Bienes Nacionales
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de Energía
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio del Medio Ambiente
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio del Deporte
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Ministerio de la Mujer y la Equidad de Género
			section.section--small
				.container
					h2.heading-medium Ministerios
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Arica y Parinacota
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Tarapacá
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Antofagasta
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Atacama
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Coquimbo
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Valparaíso
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional Metropolitano de Santiago
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de O'Higgins
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional del Maule
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional del Bío-Bío
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de la Araucanía
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Los Ríos
					.row
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Los Lagos
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Aysén
						.col-xs-12.col-sm-4
							a(href="#").link.overflowed-xs Gobierno Regional de Magallanes y Antártica Chilena

		include partials/search
		include partials/footer
	include partials/scripts
		//- script(src="js/page.js" type="text/javascript")

