extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Resultados | #{projectName}
block body
	body
		include partials/header
		main.site-main
			section.section--medium.bg-bluedark.text-light
				.container
					.row
						.col-sm-12.col-md-8.col-lg-7
							p.heading-label 231 Resultados
							.search-form
								input(type="search" placeholder="Escribe aquí lo que deseas buscar" value="Becas").search-form_input
								button(type="submit").search-form_button.search-form_button--submit: i.ic-search
								button(type="button").search-form_button.search-form_button--cancel: i.ic-delete
							.tags.overflowed-xs
								.tags_content
									.tags_item: a(href="#").ctag.ctag--clarity.active Habitacional
									.tags_item: a(href="#").ctag.ctag--clarity.active Al empleo
									.tags_item: a(href="#").ctag.ctag--clarity Para la familia
									.tags_item: a(href="#").ctag.ctag--clarity Calidad de vida y ciudad
							.filters
								.row
									.col-xs-6
										div
											label(for="").heading-label Tema
											.select.select--dark
												select(name="")
													option Todos
									.col-xs-6
										div
											label(for="").heading-label Institución
											.select.select--dark
												select(name="")
													option Todos
			section.section--medium
				.container
					.overflowed
						a(href="#").link.link--has-dot Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
						a(href="#").link.link--has-dot Beca Presidente de la República para estudiantes de educación superior (renovación)
						a(href="#").link Beca Patagonia Aysén (postulación ó renovación)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
						a(href="#").link Beca Indígena para estudiantes de educación básica y media (postulación y renovación)
						a(href="#").link Beca Presidente de la República para estudiantes de educación superior (renovación)
						a(href="#").link Beca Presidente de la República para estudiantes de educación superior (renovación)
						a(href="#").link Beca Patagonia Aysén (postulación ó renovación)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca de Integración Territorial (BIT)
						a(href="#").link Beca Presidente de la República para estudiantes de educación superior (renovación)
			
			section.hidden-xs
				.container
					h3.heading-label Loreim ipsum
					.row.section--medium.bg-bluedarkgray
						.col-xs-12.col-md-4
							.overflowed-xs.overflowed-sm
								a(href="#").link.link--medium.link--text-dark ¿Qué es ChileAtiende?
								a(href="#").link.link--medium.link--text-dark Centro de Ayuda
								a(href="#").link.link--medium.link--text-dark Trámites disponibles en sucursales
								
						.col-xs-12.col-md-4
							.overflowed-xs.overflowed-sm
								a(href="#").link.link--medium.link--text-dark Instituciones asociadas
								a(href="#").link.link--medium.link--text-dark Política de privacidad
								a(href="#").link.link--medium.link--text-dark Mapa de sitio
						.col-xs-12.col-md-4
							.overflowed-xs.overflowed-sm
								a(href="#").link.link--medium.link--text-dark API para desarrolladores

		include partials/search
		include partials/footer
		include partials/scripts